<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
</head>
<body>

<a href="/">Home Page</a>
<br>

<div th:if="${user == null}">
    <a href="/login">LOgin</a>
</div>
<div th:if="${user != null}">
    Welcome, <span th:text="${user.name}"></span> | <a href="/myCompanies">MyCompanies</a>
    <a href="/logout">Logout</a>
</div>


<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Size</th>
        <th>Address</th>
        <th th:if="${user.userRole.equals(ADMIN)}">Action</th>
    </tr>

    <tr th:each="company: ${companies}">


        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
        <td th:text="${company.size}"></td>
        <td th:text="${company.address}"></td>
        <td><a th:href="@{'/employees/byCompanies/' + ${company.id}}">View Employees | </a></td>
        <td th:if="${user.userRole.equals(ADMIN)}" ><a th:href="@{'/deleteCompany/' + ${company.id}}">delete Company </a></td>
    </tr>
</table>
<a href="/addCompany">Add Company</a><br>

</body>
</html>