<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<td>


<a href="/">Home Page</a>

<div th:include="fragment/userFragment:: login"></div>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Company</th>
    </tr>

    <tr th:each="u: ${users}">


        <td th:text="${u.id}"></td>
        <td th:text="${u.name}"></td>
        <td th:text="${u.surname}"></td>
        <td th:text="${u.userEmail}"></td>
        <td><a th:href="@{'/companies/byUsers/' + ${u.id}}">View Companies | </a></td>
        <td th:if="${user != null && user.userRole.name()=='ADMIN'}"><a th:href="@{'/deleteUser/' + ${u.id}}">delete User </a></td>
    </tr>
</table>
<!--<td th:if="${user==null}"></td> <a href="/addUser">Add User</a></td><br>-->

</body>
</html>